@import "../../styles/_variables.scss";

.section {
  padding: 3rem 7rem;
  font-size: 1.25rem;
  color: $color-dark-green;
  text-align: center;

  .header {
    // margin: 1rem 0;
  }
  .description {
    margin: 1rem 0 2rem;
  }
}
